/* MIA BRAND COLORS */

$primary: rgb(58, 55, 55);
$support: rgb(239, 53, 53);
$membership: rgb(219, 205, 185);
$explore: rgb(140,210,205);
$experience: rgb(128,86,150);
$education: rgb(155,206,124);
