@import "reset.scss";
@import "brand-colors.scss";
@import "ui-icons-font.scss";
@import "mia-font.scss";

$MiaGroteskBold: 'MiaGrotesk-Bold', sans-serif;
$MiaGroteskBoldItalic: 'MiaGrotesk-BoldItalic', sans-serif;
$MiaGroteskItalic: 'MiaGrotesk-Italic', sans-serif;
$MiaGroteskLight: 'MiaGrotesk-Light', sans-serif;
$MiaGroteskLightItalic: 'MiaGrotesk-LightItalic', sans-serif;
$MiaGroteskRegular: 'MiaGrotesk-Regular', sans-serif;
$MiaGroteskBlack: 'MiaGrotesk-Black', sans-serif;
$MiaGroteskRlackItalic: 'MiaGrotesk-BlackItalic', sans-serif;


.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body{
    font-family: $MiaGroteskLight;
    font-weight: 400;
    color:$primary;
    margin: 0;
    line-height:1.3em;
}

a {
  color: rgba(239, 53, 53, .9);
  font-weight: 500;
  text-decoration: none;
  font-size:1em;
}

a:hover {
  color: rgba(35, 35, 35, .65);
  font-weight: 500;
}

#search {
      /*margin: 8px;*/
    }

h1,h2,h3,h4,h5,h6 {
    font-family: $MiaGroteskBold;
}

.highlight em, h1 em, h2 em {
  background-color: yellow;
}

.main-app-bar{
    color:#fff;
    background-color:$primary;
}

header{
    width:100%;
    background-color:$primary;
    position:relative;
}

.quilt-search-wrap{
    min-height: 3em;
    background: #222;
}

.logo-container{
    background-image: url("../images/MIA_LOGO_MARK.svg");
    background-repeat: no-repeat;
    height: 3em;
    width:auto;
    color:#fff;
    background-position: -2px 2px;
}

.wordmark-container{
    background-image: url("../images/MIA_LOGO_WORDMARK.svg");
    background-repeat: no-repeat;
    color:#fff;
    position:absolute;
    height:40px;
    width:200px;
    right:20px;
    top:20px;
}

.agg-wrap{
    background-color:#ffffff;
    padding: 0 0 1em 0;
}

.agg-wrap h2{
    color:$whitish;
    text-align:center;
    cursor: pointer;
    line-height: 1em;
    padding-top: 7px;
}

#aggs{
    padding:1em 0 0 0;
    height:auto;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
    position: relative;
}

.agg-wrap h2{
    text-align:center;
}

#aggs dl{
    display:inline-block;
    padding:0 23px 0 0;
    white-space: normal;
}
#more-aggs {
  width: 100%;
  position: relative;
  float: left;
  margin: 10px 0;
  display: inline-block;
  background: rgba(35,35,35,.3);
  height: 39px;
}
#more-aggs .material-icons {
  font-size: 1em;
}
#aggs dt{
    font-weight:400;
    color:$primary;
    text-transform:uppercase;
    font-size:0.75em;
    padding:2px 0;
    text-align: left;
    margin:0 0 10px 0;
    border-top:3px solid $primary;
    white-space: normal;
}
#aggs #more-aggs dd {
  padding: 9px 15px;
  background: $primary;
  color: #ffffff;
  display: inline-block;
  border: none;
  opacity: 1;
  margin: 2px;
  cursor: pointer;
}
.toggleOpen, .toggleClose {
  position: absolute;
  right: 0;
  background: $primary;
  color: white;
  padding: 10px;
}
#aggs dd{
    line-height:1.1em;
    padding: .25em;
}
.objects-wrap{
    width:33%;
    float:left;
    padding:10px;
    margin-right:10px;
}

    .artwork-result{
        padding:10px;
        background-color:#fff;
        cursor: pointer;
        display: inline-block;
        width: 100%;
        margin: 0;
        margin-bottom: 3px;
    }

    .artwork-result h1{margin:0;padding:0;}
    .artwork-result h2{margin:0;padding:0;line-height:1em;}

    .objects-wrap .artwork-image{
        width: 50%;
        float: left;
        text-align: center;
    }
    .artwork-summary {
      width: 50%;
      float: right;
      padding-left: 10px;
    }
    .objects-wrap .artwork-image > div {
        max-height: 200px !important;
    }
    .objects-wrap .artwork-image img {
        max-width: 90% !important;
    }

    .objects-wrap .focused {
      border-bottom: 3px solid $primary;
    }
    .objects-wrap .focused .artwork-result {
      margin-bottom: 0;
    }

    /* not working
    .artwork-result p:not(:first-child){
        display:none;
    }
    */
    .artwork-image div > p, .artwork-result .provenance {
        display: none;
    }

    .artwork-result p.location{
        text-align:right;
        display: inline-block;
    }

    .artwork-image div > p:first-child{
        display: none;
    }


.objects-focus-sticky{
    position: fixed;
    top: 0;
    right: 0;
}

.objects-focus{
    float:left;
    position:relative;
    width: 100%;
    margin: 0;
}

    .objects-focus h1{
        font-size:2em;
        line-height:1.3em;
        padding-top:7px;
        margin:10px 0;
        font-family: $MiaGroteskLightItalic;
        font-style: italic;
        border-top:3px solid $primary;
    }
    .info .objects-focus h1 {
      border-top: none;
      padding-top: 0;
      margin: 0;
    }

    .objects-focus h2 a {
      color: $primary;
    }

    .objects-focus h5{
        font-family: $MiaGroteskBold;
        font-size:1.25em;
        margin-bottom:10px;
        cursor:hand;
    }

    .objects-focus .date{
        font-size:0.9em;
        font-family: $MiaGroteskRegular;
        font-style: normal;
        display:inline-block;
    }

    // @niffur
    .objects-focus .tombstone{
        margin-bottom:1em;
        font-size:smaller;
        line-height:1.4em;
    }

    .objects-focus .artwork-image{
        width:100%;
        height:auto;
    }


.search-wrap div:first-child {
    width: 23em;
    margin:0 auto;
    color:$primary;
    opacity: 0.95;
}
.search-wrap .mdl-textfield {
  min-width: 100px;
}

.search-wrap div h2{
    color:$whitish;
    background-color:$primary;
    padding:0.65em;
    margin-bottom:15px;
    font-size:2em;
    font-family: $MiaGroteskRegular;
}

.search-wrap div input{
    width:100%;
    color:$primary;
    font-family: $MiaGroteskLight;
}

.mdl-textfield{
    width:100%;
    min-width:350px;
    padding-left:1em;
    padding-right:1em;
    background-color: white;
    border-radius:3px;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.mdl-textfield__input {
    color:$primary;
    border-color:$primary;
    border-width:0 0 3px 0;
    padding:0.5em;
    text-align:center;
}

.objectTotal {
    top:0;
    color:$primary;
}
.numbers {
  font-family: $MiaGroteskBold;
  color: rgba(35,35,35,.5);
  padding-left: 10px;
  font-size: .9em;
}
::-webkit-input-placeholder {
   color: $support;
}

:-moz-placeholder { /* Firefox 18- */
   color: $support;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $support;
}

:-ms-input-placeholder {
   color: $support;
}
/* ===== TOOLBAR STYLES ===== */
.toolbar {
  background: $primary;
}
.filter-button {
  border: 3px solid #ffffff;
  padding: 5px 20px;
  float: right;
}
.filter-button a, .filter-button a:hover {
  color: #ffffff;
}
.filter-button:hover {
  opacity: .7;
}
.views {
  color: #ffffff;
  font-size: 2em;
}
.views .List:hover, .views .Grid:hover {
  opacity: .7;
}
/* ===== SEARCH RESULTS STYLES ===== */
.link-bar i.material-icons {
  font-size: 24px;
  padding-right: 10px;
  padding-top: 10px;
}
.art-details i.material-icons {
  color: $primary;
}

/* ===== LANDING PAGE STYLES ===== */
.landingPageBody, .departmentPage {
  display: inline-block;
}
.shortcutLinks {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}
.shortcutLinks a {
  color: rgb(35,35,35);
  transition: ease all 0.8s;
}

.departmentList.mdl-grid, .welcome.mdl-grid {
  margin: 0 1.5em;
  margin-bottom:2em;
}
.departmentList, .welcome {
  display: inline-block;
}
.departmentList h2, .welcome h2 {
  font-family: $MiaGroteskBold, sans-serif;
  font-size:2em;
  padding-left:8px;
}
.departmentLink h2 {
  font-size: 1em;
  font-family: $MiaGroteskBold, sans-serif;
  border-top: 3px solid rgba(35,35,35,1);
  padding: 7px 0;
  margin: 7px 0;
  line-height: 1em;
  color: rgb(35,35,35);
}
.departmentLink {
  float:left;
  display: inline-block;
  vertical-align: bottom;
  text-align: left;
}
.departmentListItem {
  width: 100%;
  height: 150px;
}
.departmentListItem.africa {
  background:url("https://api.artsmia.org/images/4866/600/medium.jpg") no-repeat center center;
  background-size: cover;
}
.departmentListItem.cssaa {
  background:url("https://api.artsmia.org/images/12134/600/medium.jpg") no-repeat center center;
  background-size: cover;
}
.departmentListItem.contemporary {
  background:url("https://api.artsmia.org/images/1721/600/medium.jpg") no-repeat center center;
  background-size: cover;
}
.departmentListItem.dats {
  background:url("https://api.artsmia.org/images/8024/800/medium.jpg") no-repeat center center;
  background-size: cover;
}
.departmentListItem.jka {
  background:url("https://api.artsmia.org/images/7505/600/medium.jpg") no-repeat center center;
  background-size: cover;
}
.departmentListItem.paintings {
  background:url("https://api.artsmia.org/images/1348/800/medium.jpg") no-repeat center center;
  background-size: cover;
}
.departmentListItem.photography {
  background:url("https://api.artsmia.org/images/89324/800/medium.jpg") no-repeat center center;
  background-size: cover;
}
.departmentListItem.prints {
  background:url("https://api.artsmia.org/images/9194/800/medium.jpg") no-repeat center center;
  background-size: cover;
}
a.departmentLink h2{
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
}

/* ===== DEPARTMENT PAGES ===== */
.departmentPage h2 {
  background: transparent;
  font-size: 1.75em;
  width: 100%;
  text-align: left;
  padding: 0 0 10px 21px;
  margin: 0;
  margin-top:0.7em;
  line-height: 1em;
}
.departmentContent, .departmentResources {
  padding: 0 5px;
}
.departmentContent p {
  line-height:1.4em;
  padding-left:10px;
}

.departmentResources h3 {
  border-top: 3px solid rgb(35,35,35);
  font-size: 1.2em;
  width: 100%;
  font-family: $MiaGroteskRegular;
  line-height: 1em;
  padding: 7px 0;
}

.departmentResources h3:first-child {
  margin-top: 0;
}
.departmentResources ul{
    margin-bottom:2em;
}
.departmentPage h2 a{
  color: rgb(35,35,35);
}
.departmentPage p {
  margin: 0 0 7px 0;
}
.curatorBio, .affinity, .resources {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.curatorPic, .affinityImage {
  float:left;
  display: inline-block;
  background: rgba(35,35,35,.3);
  margin-right: 20px;

  img {
    max-width: 150px;
    max-height: 150px;
  }
}
.curatorBio h4 {
  font-size: 1.1em;
}
.curatorBio h5 {
  font-family: $MiaGroteskRegular;
  font-size: .9em;
  padding-bottom: 1em;
}

.quilt-wrap .lazy-load {
  display: inline-block;
  overflow: hidden;
}

/* ===== artwork.js STYLES ===== */

.artwork #map {
  position: relative;
  left: 0;
  width: 65%;
  height: calc(100vh - 4em);
  z-index: 1000;
}
.artwork .sticky #map {
  width: 100%;
  height: 100%;
}
.artwork #map .imageStatus {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  padding: 0 20%;
}

.artwork .info {
  position: absolute;
  width: 35%;
  background: #eee;
  min-height: calc(100% - 4em);
  padding: 1em;
  right: 0;
  overflow-y:scroll;
  min-height: 100vh;
}
.artwork .objects-focus {
  border-top: none;
  float: none;
  padding-top: 0;
}
.artwork .objects-focus .artwork-image {
  display: none;
}

.objects-focus div > p {
  margin-bottom: 1em;
}

.objects-focus span {
  font-style: normal;
}

.objects-focus i.material-icons {
  font-size: 0.8em;
  margin: 0 0.5em 0 0.1em;
}

.artwork-detail{
    display:table;
    font-size:smaller;
    line-height:1.3em;
}
.detail-row{
    display:table-row;
}
.detail-title{
    display:table-cell;
    padding:5px 0;
    font-family: $MiaGroteskRegular, sans-serif;
}
.detail-content{
    display:table-cell;
    padding:5px 5px 5px 15px;
}
h5.details-title {
    border-top:3px solid $primary;
    margin-top:1em;
    margin-bottom:0.5em;
    padding-top:3px;
    cursor:pointer;
}

.objects-page-link{
    font-size:8px;
    text-transform: uppercase;
    text-align:center;
    width:32px;
    position:absolute;
    top:50px;
    right:10px;
    line-height:1em;
    font-family: $MiaGroteskBold;
    color: #222;
}

.objects-page-icon{
    border:3px solid $primary;
    border-radius: 5px;
    background-image:url('../images/ic_remove_red_eye_black_24px.svg');
    width:32px;
    height:32px;
    color:$primary;
    background-size:cover;
    margin-bottom:3px;
    cursor: hand;
 }

 .peek a {
   color: $primary;
 }

button.material-icons {
  background: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #fff;
  border: none;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

button.material-icons.search {
  padding: 2em 0 2em 2em;
  margin: -2em 0 -2em -2em;
}
/* ===== page.js STYLES ===== */

.page{}
.pageText{margin:2em;max-width:38em;}
.pageText h1{
    font-size: 1.75em;
    width: 100%;
    text-align: left;
    margin: 0;
    line-height: 1em;
}
.pageText h2{
    font-size: 1.25em;
    width: 100%;
    text-align: left;
    margin: 0;
    margin-top:2em;
    line-height: 1em;
    border-top:3px solid $primary;
    padding-top:5px;
}
.pageText h3{
    font-size: .85em;
    width: 100%;
    text-align: left;
    margin: 0;
    margin-top:2em;
    line-height: 1em;
    font-family: $MiaGroteskBold, sans-serif;
    border-top:1px solid $primary;
    padding-top:5px;
}

.pageText p{line-height: 1.4em;margin:0.5em 0;}

/* ===== info links homepage STYLES ===== */

ul.info {margin:0 1.5em;width:100%;margin-bottom:2em;}

.info li{display:inline-block;}
.info li a{
    padding:7px 0;
    width:100%;
    display:block;
    border-top:3px solid $primary;
    font-family: $MiaGroteskBold, sans-serif;
    font-size:1.5em;
    color:$primary;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
}
.info li a:hover, .departmentLink:hover h2{
    background-color:$primary;
    color:white;
    padding-left:10px;
}
.info li:last-child a{padding-right:0;}

/* ===== peek STYLES ===== */

hr{margin:0;}

.peek {
  margin-right: 3px;
}
.peek.startedOpen, .startedOpen .peek {
  margin-right: 0;
}

.peek > .peek{
    background-color:$primary;
    margin-bottom:-1px;
}

.peek p{
  line-height:1em;
  font-size:1em;
  font-family:$MiaGroteskLight; 
}

.peek a{
    padding:0 0 10px 10px;
    display:inline-block;
    margin-top:10px;
    color:#fff;
    font-family:$MiaGroteskRegular;
    font-size:12px;
}

.peek .more-results-link{
    color:$support;
    font-family:$MiaGroteskBold;
    text-align:right;
    display:inline-block;
}

.peek .more-results-link:hover{
    color:rgba(255,255,255,.5);
}

.open i {
    background-color:#ededed;
    display: inline-block;
    padding:5px;
}

.open i > span{
    padding-left:10px;
}

.tombstone .open i {
    margin-top:15px;
    padding: 0 5px 7px 2px;
    line-height:1em;
    
}


