@import "reset.scss";
@import "brand-colors.scss";
@import "mia-font.scss";

$MiaGroteskBold: 'MiaGrotesk-Bold', sans-serif;
$MiaGroteskBoldItalic: 'MiaGrotesk-BoldItalic', sans-serif;
$MiaGroteskItalic: 'MiaGrotesk-Italic', sans-serif;
$MiaGroteskLight: 'MiaGrotesk-Light', sans-serif;
$MiaGroteskLightItalic: 'MiaGrotesk-LightItalic', sans-serif;
$MiaGroteskRegular: 'MiaGrotesk-Regular', sans-serif;
$MiaGroteskBlack: 'MiaGrotesk-Black', sans-serif;
$MiaGroteskRlackItalic: 'MiaGrotesk-BlackItalic', sans-serif;


body{
    font-family: $MiaGroteskLight;
    font-weight: 400;
    color:$primary;
    margin: 0;
}

#map {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

a {
  color: rgba(239, 53, 53, .9);
  font-weight: 500;
  text-decoration: none;
  font-size:1em;
}

a:hover {
  color: rgba(35, 35, 35, .65);
  font-weight: 500;
}

#search {
      /*margin: 8px;*/
    }

h1,h2,h3,h4,h5,h6 {
    font-family: $MiaGroteskBold;
}

.highlight em, h1 em, h2 em {
  background-color: yellow;
}

.main-app-bar{
    color:#fff;
    background-color:$primary;
}

header{
    width:100%;
    background-color:$primary;
    padding-top:30px;
    position:relative;
}

.quilt-search-wrap{
    margin-top:-3px;
}

.logo-container{
    background-image: url("../images/MIA_LOGO_MARK.svg");
    background-repeat: no-repeat;
    height:100px;
    width:auto;
    color:#fff;
}

.wordmark-container{
    background-image: url("../images/MIA_LOGO_WORDMARK.svg");
    background-repeat: no-repeat;
    color:#fff;
    position:absolute;
    height:40px;
    width:200px;
    right:20px;
    top:20px;
}

.agg-wrap{
    background-color:#fff;
}

.agg-wrap h2{
    padding:1em;
    color:$whitish;
    background-color:$primary;
    text-align:center;
    cursor: pointer;
}

#aggs{
    padding:1em;
    height:auto;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
    position: relative;
}

.agg-wrap h2{
    text-align:center;
}

#aggs dl{
    display:inline-block;
    padding:0 23px 0 0;
    white-space: normal;
}
#more-aggs {
  width: 100%;
  position: relative;
  float: left;
  margin: 10px 0;
  display: inline-block;
  background: rgba(35,35,35,.3);
  height: 39px;
}
#more-aggs .material-icons {
  font-size: 1em;
}
#aggs dt{
    font-weight:400;
    color:$primary;
    text-transform:uppercase;
    font-size:0.75em;
    padding:2px 0;
    text-align: left;
    margin:0 0 10px 0;
    border-top:3px solid $primary;
    white-space: normal;
}
#aggs #more-aggs dd {
  padding: 9px 15px;
  background: $primary;
  color: #ffffff;
  display: inline-block;
  border: none;
  opacity: 1;
  margin: 2px;
  cursor: pointer;
}
.toggleOpen, .toggleClose {
  position: absolute;
  right: 0;
  background: $primary;
  color: white;
  padding: 10px;
}
#aggs dd{
    line-height:1.1em;
    padding: .25em;
}
.objects-wrap{
    width:33%;float:left;
    padding:10px;
    margin-right:10px;
    background-color:#e0e0e0;
}

    .artwork-result{
        padding:10px;
        margin-bottom:10px;
        background-color:#fff;
        -webkit-box-shadow: 2px 2px 4px 0 rgba(0,0,0,.25);
        box-shadow: 2px 2px 4px 0 rgba(0,0,0,.25);
        cursor: pointer;
    }

    .artwork-result h1{margin:0;padding:0;}
    .artwork-result h2{margin:0;padding:0;line-height:1em;}

    .objects-wrap .artwork-image{
        height:100px;
    }

    .objects-wrap .artwork-image > div > img{
        max-height:100px;
    }

    .objects-wrap .focused {
      border-top: 3px solid $primary;
      margin-top: -3px;
    }

    /* not working
    .artwork-result p:not(:first-child){
        display:none;
    }
    */

    .artwork-image div > p, .artwork-result .provenance {
        display: none;
    }

    .artwork-result p.location{
        text-align:right;
        display: inline-block;
    }

    .artwork-image div > p:first-child{
        display: none;
    }

.objects-focus-sticky{
    position: fixed;
    top: 0;
    left: 33%;
}

.objects-focus{
    float:left;
    padding-top:2em;
    border-top:3px solid $primary;
}

    .objects-focus h2{
        font-size:2.5em;
        margin-bottom:10px;
        font-family: $MiaGroteskLightItalic;
        font-style: italic;
    }


    .objects-focus .date{
        font-size:0.65em;
        font-family: $MiaGroteskRegular;
        font-style: normal;
    }

    .objects-focus h5{
        font-family: $MiaGroteskBold;
        margin-bottom:20px;
    }

    .objects-focus .tombstone{
        margin:20px 0;
        font-size:smaller;
        line-height:1.2em;
    }


.search-wrap div:first-child {
    width:33%;
    margin:0 auto;
    color:$primary;
}

.search-wrap div h2{
    color:$whitish;
    background-color:$primary;
    padding:0.65em;
    margin-bottom:15px;
    font-size:2em;
    font-family: $MiaGroteskRegular;
}

.search-wrap div input{
    width:100%;
    color:$primary;
    font-family: $MiaGroteskLight;
}

.mdl-textfield{
    width:100%;
    min-width:350px;
    padding-left:1em;
    padding-right:1em;
    background-color: white;
    border-radius:3px;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.mdl-textfield__input {
    color:$primary;
    border-color:$primary;
    border-width:0 0 3px 0;
    padding:0.5em;
    text-align:center;
}

.objectTotal {
    top:0;
    color:$primary;
}
.numbers {
  font-family: $MiaGroteskBold;
  color: rgba(35,35,35,.5);
  padding-left: 10px;
  font-size: .9em;
}
::-webkit-input-placeholder {
   color: $support;
}

:-moz-placeholder { /* Firefox 18- */
   color: $support;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $support;
}

:-ms-input-placeholder {
   color: $support;
}

/* ===== LANDING PAGE STYLES ===== */
.landingPageBody, .departmentPage {
  margin: 1em;
  display: inline-block;
}
.shortcutLinks {
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}
.shortcutLinks a {
  color: rgb(35,35,35);
  transition: ease all 0.8s;
}
.shortcutlinks a:hover {
  opacity: .5;
}
.shortcutLinks sub {
  font-family: $MiaGroteskLight, sans-serif;
  font-size: 1em;
  margin-right: 5px;
}
.shortcutLinks h2 {
  font-family: $MiaGroteskRegular, sans-serif;
  font-size: 1.5em;
  border-top: 3px solid rgb(35,35,35);
  padding: 7px 0 0;
  margin: 7px 5px;
  line-height: 1em;
}
.mdl-cell--4-col, a.mdl-cell--4-col {
  display: inline-block;
  float: left;
}
.mdl-cell--4-col div {
  border: 5px solid #ffffff;
}
.shortcutAccessions {
  width: 100%;
  background: url(../images/recent.png) no-repeat top center;
  background-size: cover;
  min-height: 150px;
  color: #ffffff;
  padding: 20px;
}
.shortcutHighlights {
  width: 100%;
  background: url(../images/highlights.png) no-repeat top center;
  background-size: cover;
  min-height: 150px;
  color: #ffffff;
  padding: 20px;
}
.shortcutBrowse {
  width: 100%;
  background: url(../images/dots.png) no-repeat top center;
  background-size: cover;
  min-height: 150px;
  color: #ffffff;
  padding: 20px;
}
.departmentList {
  display: inline-block;
}
.departmentList h2 {
  font-family: $MiaGroteskRegular, sans-serif;
  font-size:2em;
}
.departmentLink h2 {
  font-size: 1.5em;
  font-family: $MiaGroteskLight, sans-serif;
  border-top: 3px solid rgba(35,35,35,1);
  padding: 7px 0;
  margin: 7px 0;
  line-height: 1em;
  color: rgb(35,35,35);
}
.departmentLink {
  float:left;
  display: inline-block;
  vertical-align: bottom;
  text-align: right;
  border:5px solid #ffffff;
}
.departmentListItem {
  width: 100%;
  height: 150px;
}
.departmentListItem.africa {
  background:url("https://api.artsmia.org/images/4866/600/medium.jpg") no-repeat center center;
  background-size: cover;
}
.departmentListItem.cssaa {
  background:url("https://api.artsmia.org/images/12134/600/medium.jpg") no-repeat center center;
  background-size: cover;
}
.departmentListItem.contemporary {
  background:url("https://api.artsmia.org/images/1721/600/medium.jpg") no-repeat center center;
  background-size: cover;
}
.departmentListItem.dats {
  background:url("https://api.artsmia.org/images/8024/800/medium.jpg") no-repeat center center;
  background-size: cover;
}
.departmentListItem.jka {
  background:url("https://api.artsmia.org/images/7505/600/medium.jpg") no-repeat center center;
  background-size: cover;
}
.departmentListItem.paintings {
  background:url("https://api.artsmia.org/images/1348/800/medium.jpg") no-repeat center center;
  background-size: cover;
}
.departmentListItem.photography {
  background:url("https://api.artsmia.org/images/89324/800/medium.jpg") no-repeat center center;
  background-size: cover;
}
.departmentListItem.prints {
  background:url("https://api.artsmia.org/images/9194/800/medium.jpg") no-repeat center center;
  background-size: cover;
}
a.departmentLink {
  transition: ease all 0.8s;
}
a.departmentLink:hover  {
  opacity: .5;
}
/* ===== DEPARTMENT PAGES ===== */
.departmentPage .mdl-cell--6-col {
  display: inline-block;
  float: left;
}
.departmentPage h2 {
  background: transparent;
  font-size: 1.75em;
  width: 100%;
  text-align: left;
  padding: 7px 0 15px;
  margin: 0;
  line-height: 1em;
}
.departmentContent, .departmentResources {
  padding: 0 5px;
}
.departmentResources h3 {
  border-top: 3px solid rgb(35,35,35);
  font-size: 1.2em;
  width: 100%;
  font-family: $MiaGroteskRegular;
  line-height: 1em;
  padding: 7px 0;
  margin-top: 1em;
}
.departmentResources h3:first-child {
  margin-top: 0;
}
.departmentPage h2 a{
  color: rgb(35,35,35);
}
.departmentPage p {
  margin: 0 0 7px 0;
}
.curatorBio, .affinity, .resources {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.curatorPic, .affinityImage {
  width: 150px;
  height: 150px;
  float:left;
  display: inline-block;
  background: rgba(35,35,35,.3);
  margin-right: 20px;
}
.curatorBio h4 {
  font-size: 1.1em;
}
.curatorBio h5 {
  font-family: $MiaGroteskRegular;
  font-size: .9em;
  padding-bottom: 1em;
}
