/* less than 2s you can still see jumping on initial open */
$openduration: 2s;
$closeduration: 0.5s;

.peek-appear {
  opacity: 0.01;
  height:0px;
  transition: all $openduration ease-in;

  &.peek-appear-active {
    opacity: 1;
    height:auto;
  }
}

.peek-enter{
    opacity: 0.01;
    height:0px;
    transition:all $openduration ease-in;
    
    &.peek-enter-active{
        opacity:1;
        height:auto;
    }

}

.peek-leave{
    opacity:1;
    height:auto;
    transition:all $closeduration ease-out;

    &.peek-leave-active{
        opacity:0;
        min-height:0px;
    }
}