/** @format */

.imageCarousel {
  & ul {
    @apply flex overflow-x-scroll my-4;
  }

  @screen md {
    width: calc(50% + theme('spacing.16'));
    @apply mx-0;
    margin-right: -4rem;
  }

  scrollbar-width: none;

  & ::-webkit-scrollbar {
    display: none;
  }
}
/**
 * https://stackoverflow.com/questions/3296644/hiding-the-scroll-bar-on-an-html-page
 */

/**
 * TODO - why doesn't `group-hover:` work here?
 * It's configured in tailwind.config.js
.carouselItem {
  @apply p-1 w-32 group-hover:w-full flex-shrink-0;
}*/
